* {
  margin: 0;
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #3a8daf;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.container h1 {
  text-transform: uppercase;
}

/* LandingPage */
.my-image {
  max-width: 350px;
  height: 250px;
  text-align: center;
}

.banner-text {
  background-color: #333;
  opacity: 0.8;
  max-width: 60%;
  margin: auto;
  background-repeat: 10px;
  text-align: center;
  margin-top: 10px;
  padding: 1em;
  border-radius: 5px;
}

.banner-text h1 {
  text-transform: uppercase;
}

.banner-text hr {
  border-top: 3px solid;
  max-width: 95%;
  margin: 5px auto;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.social-links i {
  font-size: 3rem;
  padding: 8px;
}

/* about */
.title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  text-transform: uppercase;
}

.name {
  margin-top: 8px;
}

.description {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.8rem;
}

/* work */
.work-container {
  display: flex;
}

/* contact */
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background: #000;
  opacity: 0.8;
  width: 700px;
  height: 60vh;
  font-size: 40px;
  border-radius: 5px;
}

.contact-mail {
  display: flex;
  font-family: 'Calistoga', cursive;
  font-weight: bold;
}
.contact-mail i {
  font-size: 3rem;
  margin-right: 5px;
}
